<%- include('../partials/header') %>

<section class="p-3 text-center">

  <h1>Things To Do In Austin, TX</h1>

  <div class="container">
    <div class="row g-4">    
      <% attractions.forEach(function(attraction) { %>
      <div class="col-12 col-md-6 col-lg-4">

        <div class="card">
          <a href="/attractions/<%= attraction._id %>">
            <img class="card-img-top resized" src= <%= attraction.image %> />
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= attraction.title %></h5>
            <p class="text-muted"><%= attraction.address %></p>
            <p class="card-text module"><%= attraction.description %></p>
            <p>
              <a href="/attractions/<%= attraction._id %>">Details</a>
            </p>
          </div>
        </div>

      </div>
      <% }); %>
    </div>

  </div>

</section>