<%- include('../partials/header') %>


<section class="p-3 text-center">

  <h1>Things To Do In Austin, TX</h1>

  <div class="container">
    <div class="row row-cols-3">
      <% attractions.forEach(function(attraction) { %>
      <div class="col">

        <div class="card">
          <a href="/attractions/<%= attraction._id %>">
            <img class="card-img-top" src= <%= attraction.image %> />
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <%= attraction.title %>
            </h5>
            <p class="card-text">
              <%= attraction.description %>
            </p>
          </div>
        </div>

      </div>
      <% }); %>
    </div>
 

  </div>


  <div class="container">

    <% attractions.forEach(function(attraction) { %>

    <div class="d-sm-flex align-items-center">
      <img class="img-fluid w-50" src= <%= attraction.image %> />
      <div>
        <%= attraction.title %>
      </div>
      <div>
        <%= attraction.address %>
      </div>
      <div class="module">
        <%= attraction.description %>
      </div>
      <div>
        <a href="/attractions/<%= attraction._id %>">Details</a>
      </div>
      
    </div>
  <% }); %>
  </div>

</section>



    <table id="list">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Address</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

      <div>
        <tbody>
        <% attractions.forEach(function(attraction) { %>
          <tr>
            <td>
              <img src=<%= attraction.image %> />
            </td>
            <td>
              <%= attraction.title %>
            </td>
            <td>
              <%= attraction.address %>
            </td>
            <td>
              <%= attraction.description %>
            </td>
            <td>
              <a href="/attractions/<%= attraction._id %>">DETAILS</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </div>

    </table>

