<%- include('../partials/header') %>
<body>
  <section class="container p-3 text-center">
    <h1 class="p-3 emphasis-font"><%= attraction.title %></h1>

    <div class="row my-5">

      <div class="col-auto">
        <img class="img-fluid border border-5 resized-md" src= <%= attraction.image %> />
      </div>

      <div class="col d-flex align-items-center">
        <div class="card-block px-2">

          <p class="p-3 lead"><%=attraction.address%></p>
          <p class="card-text"><%= attraction.description %></p>
          <br><br>
          <div class="d-flex justify-content-evenly">
            <a class="btn btn-secondary btn-width" href="/attractions/<%=attraction._id%>/edit">
            Edit
            </a>
            <form method="POST" action="/attractions/<%=attraction._id%>?_method=DELETE">
              <button type="submit" class="btn btn-danger btn-width">Delete</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  

  <section class="container">
    <h3>Reviews</h3>

  <!-- Add Reviews Form -->
    <div class="mb-4">
      <form 
        id="add-comment-form" 
        method="POST" 
        action="/attractions/<%= attraction._id %>/comments">

        <div class="d-flex">
            <div class="h2"><i class="bi bi-person-circle"></i></div>
            <div class="mx-3">
              <input type="text" 
                class="form-control" 
                name="content" 
                placeholder="Add a comment...">
            </div>

            <div>
              <select class="form-select form-select-md" name="rating">
                <option selected>Rating</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
              </select>
            </div>
            
            <div class="text-center mx-3">
              <button type="submit" class="btn btn-primary">Add Review</button>
            </div>
          </div>
      </form>
    </div>

  <!-- If there are reviews, show them -->
    <% if (attraction.comments.length) { %>

      <div class="row d-flex justify-content-center">
        <!-- <div class="col-md-11 col-lg-9 col-xl 7"> -->
        <div>
          <% attraction.comments.forEach(function(comment) { %>

            <div class="d-flex flex-start mb-4">
              <div class="h2 me-3"><i class="bi bi-person-circle"></i></div>
                <div class="card w-50">
                    <div class="card-body p-3">
                      <p class="my-0"><h5> <%= comment.userID?.name %></h5></p>
                      <p> <%= comment.content %> </p>
                      <p class="text-muted mb-0"> 
                        Rating: <%= comment.rating %> / 5
                      </p>
                    </div>
                </div>
              </div>
            </div>

        </div>

      </div>
      <% }); %>

    <!-- If there are no reviews for this attraction -->
    <% } else { %>
        <h5>No Reviews Yet</h5>
    <% } %>

  </section>  
</body>

<%- include('../partials/footer') %>