<%- include('../partials/header') %>

 <h1>
     <%= attraction.title %>
 </h1>

 <section id="show-page">
    <div>Address: <%= attraction.address %></div>
    <div>Description: <%= attraction.description %></div>
  </section>
  
  <a href="/attractions/<%=attraction._id%>/edit"><button>Edit Attraction</button></a>

  <form method="POST" action="/attractions/<%=attraction._id%>?_method=DELETE">
    <input type="submit" value="Delete Attraction">
    </form>

  <br><br>
  <h2>Comments</h2>
  <form id="add-comment-form" method="POST" action="/attractions/<%= attraction._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Comment">
  </form>

  <% if (attraction.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Comment</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% attraction.comments.forEach(function(comment) { %>
          <tr>
            <td>
              <%= comment.content %>
            </td>
            <td>
              <%= comment.rating %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Comments Yet</h5>
      <% } %>